@font-face {
  font-family: 'Graphik';
  src: url('@/assets/fonts/Graphik-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('@/assets/fonts/Graphik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('@/assets/fonts/Graphik-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url('@/assets/fonts/Graphik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
