$primary-color: #7344c0;
$secondary-color: #592f9d;
$tertiary-color: #4a90e2;
$white: #ffffff;
$black: #000000;
$light-gray: #f6f9fc;
// $medium-gray: #f0f0f0;
// $dark-gray: #666666;
$text-base-color: #43516b;
$text-color-secondary: #8e97a6;
// $meta-color: #888888;
// $separator-color: #cccccc;
// $highlight-color: #fff5d0;
// #F6F9FC - background
// typography
$font-family: 'Graphik', sans-serif;
$font-size-base: 14px;
// $font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-title: 30px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// title: large text 30px
// card title: 20px
// card subtitle: 16px
// card menu and button: 14px
