// Colors
$primary-color: #7344c0;
$secondary-color: #592f9d;
$tertiary-color: #4a90e2;
$white: #ffffff;
$black: #000000;
$light-gray: #f6f9fc;
$text-base-color: #43516b;
$text-color-secondary: #8e97a6;

// Typography
$font-family: 'Graphik', sans-serif;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-title: 30px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Breakpoints
$mobile-breakpoint: 768px;
$small-mobile-breakpoint: 320px;

// Transitions
$transition-duration: 0.3s;
